body {
    color: #ffffff;
    background-color: #212121;
}

.customNavBar{
    height: 42px;
}

.text-primary{
    color: #ffffff;
}

.card {
    background-color: #424242;
    color: #ffffff;
}

.fullLength{
    width: 100%;
}

.card-listItem{
    max-width: 330px;
}

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}